*{
    background-color: black;
    color: white;
    position: relative;
    justify-items: center;
}

img{
    object-fit: cover;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin-bottom: 20px;
}

.allcontent{
    padding: 30px;
    border: 5px solid;
    border-color: rgb(85, 144, 144);
    border-radius: 40px;
}

.content{
    border-radius: 30px;
    padding: 20px;
    border: 7px solid;
    border-color: rgb(78, 184, 158);
}

h1{
    color: antiquewhite;
}